<h3>Reek Results</h3>

<p><a href="http://github.com/troessner/reek">Reek</a> detects common <a href="https://github.com/troessner/reek/blob/master/docs/Code-Smells.md">code smells</a> in ruby code.</p>

<%= render_partial 'graph', {:graph_name => 'reek'} %>

<%
# e.g.: https://github.com/troessner/reek/blob/master/docs/Irresponsible-Module.md
def code_smell_type_url(type)
  doc_url = "https://github.com/troessner/reek/blob/master/docs/%{page}.md"
  page = type.titlecase.tr(" ", "-")
  doc_url % {page: page}
end
%>

<table>
  <tr>
    <th>File Path</th>
    <th>Method</th>
    <th>Description</th>
    <th>Type</th>
  </tr>
  <% count = 0 %>
  <% @reek[:matches].each do |match| %>
    <% match[:code_smells].each do |smell| %>
      <tr class='<%= cycle("light", "dark", count) %>'>
        <td><%= link_to_filename(match[:file_path]) %></td>
        <td>
          <%= smell[:method] %>
        </td>
        <td>
          <%= smell[:message] %>
        </td>
        <td>
          <a href="<%= code_smell_type_url(smell[:type]) %>"><%= smell[:type] %></a>
        </td>
      </tr>
      <% count += 1 %>
    <% end %>
  <% end %>

</table>

<%= render_partial 'report_footer' %>
