<% @disable_js = true %>
<h3><%= MetricFu.metric_name %> Results</h3>
<ul id='projects'>
<% metrics.each do |metric, data| %>
  <li class='even failure'>
    <%= metric_link(metric.to_s) %>
    <%= data[:total].to_s %>
  </li>
<% end %>
</ul>

<%= render_partial 'gem_info' %>
<%= render_partial 'report_footer' %>
